extends layout

block content
    div.container
        div.row
            div.col-sm
                h4.mt-3 WEBSHOP
                p 
                |Welkom bij onze nieuwe sportkledijwinkel in hartje Rumbeke! Voor passende kledij voor jong en oud kan u zeker bij ons terecht! Hebt u vragen betreffende ons assortiment? 
                |Aarzel dan niet om ons te 
                a(href='contact') contacteren 
                | tijdens onze openingsuren!
                ul.list-unstyled(style="margin-left: 25px;")
                br                
            div.col-sm
              h4.mt-3 SOLDEN
              p
              |Gedurende de solden kan u genieten van 20% korting van onderstaande artikelen! Betreffende actie loopt tot 21 december 2020.
              
              table.table-bordered.table-sm
                  tbody
                      tr
                        h1 20% KORTING
                      tr
                          th.font-weight-normal 
                            a(href='/shirts')
                              img(src="images/shirtBlauw.png" alt="logo" height="20%")
                          th.font-weight-normal 
                            a(href='/shorts')
                              img(src="images/shortRood.png" alt="logo" height="20%") 
                      tr
                          th.font-weight-normal 
                            a(href='/sokken')
                              img(src="images/sokkenZwart.png" alt="logo" height="20%")
                          th.font-weight-normal 
                            a(href='/trainings')
                              img(src="images/trainingBlauw.png" alt="logo" height="20%")