extends layout

block content
  header
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      ul.navbar-nav
        li.nav-item
          a(href='/').nav-link About
        li.nav-item.right
          a(href="/").nav-link Login
    
  h1 WEBSHOP
  p Welcome to #{title}
