doctype html
html(lang=nl)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    title=title
    link(rel="icon" href="images/favicon.png" type="image/png" sizes="16x16")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css', integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2', crossorigin='anonymous')
    script(src="javascripts/script.js")
    //block head
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        ul.navbar-nav
          li
            a(href="/")
              img(src="images/favicon.png" alt="logo" height="65" width="65")
          li.nav-item
            h4
              a(href="/boeken").nav-link Boeken
          li.nav-item
            h4
              a(href='/contact').nav-link Contact
          
          if(!user)
            a(href="/login").btn.btn-outline-success.login-btn Login
          if(user)
            .align-middle.logged_in
              a(href="logout")
                p Hallo, #{user.username}
    
    block content

    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx", crossorigin="anonymous")
