extends layout

block content
    br
    p(style="margin-left: 50px;") Welkom, maak hier kennis met ons assortiment aan sportshorts!
    div.container
        div.row.justify-content-center
            div.col-auto.mb-4
                table.table.table-bordered.table-sm
                    tbody
                        tr
                            th.font-weight-normal
                                h5(style="text-align:center;") Blauw
                            
                        tr 
                            th.font-weight-normal
                                h5(style="text-align:center;") €10,00
                            
                            
                        tr
                            th.font-weight-normal
                                a(href='/shortBlauw')
                                    img(src="images/shortBlauw.png" alt="logo" height="200" width="200")    
            div.col-auto.mb-4
                table.table-bordered.table-sm
                    tbody 
                        tr
                            th.font-weight-normal
                                h5(style="text-align:center;") Rood
                                    span(style="color:red; text-align:center;")  20% OFF           
                        tr 
                            th.font-weight-normal
                                h5(style="color:red; text-align:center;") €8,00
                        tr
                            th.font-weight-normal
                                a(href='/shortRood')
                                    img(src="images/shortRood.png" alt="logo" height="200" width="200")
                        
            div.col-auto.mb-4
                table.table-bordered.table-sm
                    tbody            
                        tr
                            th.font-weight-normal
                                h5(style="text-align:center;") Zwart
                        tr
                            th.font-weight-normal
                                h5(style="text-align:center;") €10,00
                        tr    
                            th.font-weight-normal
                                a(href='/shortZwart')
                                    img(src="images/shortZwart.png" alt="logo" height="200" width="200")

