extends layout

block content
    div.container
        div.row.contact_row
            div.col-sm
                ul.list-unstyled(style="margin-left: 25px;")
                    table.table-bordered.table-sm
                        tbody
                            tr
                                th.font-weight-normal
                                    h5(style="color:red; text-align:center;") €8,00
                            tr
                                th.font-weight-normal
                                    img(src="images/sokkenZwart.png" alt="logo" height="40%" )
            div.col-sm
                h5 Zwarte voetbalsokken
                    h5(style="color:red") 20% OFF
                caddie(action="")
                    div
                        label Aantal
                        input(type="text")
                    div
                        label Maat 
                        select(name="maat")
                            option(value="XS") XS
                            option(value="S") S
                            option(value="M") M
                            option(value="L") L
                            option(value="XL") XL
                            option(value="XXL") XXL
                        br
                        br
                    input(type="submit" onclick='addToCaddie()' value="Aan winkelwagen toevoegen").btn.btn-primary