extends layout

block content
    div.container
        section
            h2 Winkelwagen
                table.table-bordered.table-sm
                    tbody
                        tr.front-weight-normal                        
                            br
                            br
                            br
                            th.front-weight-normal
                                strong Artikel
                            th.front-weight-normal
                                strong Prijs
                            th.front-weight-normal
                                strong Aantal