.login-btn {
  position: absolute;
  right: 25px;
}

.login_div {
  background-color: grey;
  position: relative;
  top: 50px;
  left: 15%;
  width: 20%;
  height: 45%;
}

.contact_row {
  margin-top: 20px;
  margin-bottom: 20px;
}