.login-btn {
  position: absolute;
  right: 25px;
}

div.login {
  background-color: grey;
  color: blue;
  margin-top: 30px;
  margin-right: 30px;
  height: 325px;
}

div.register {
  background-color: red;
  color: white;
  margin-top: 30px;
  height: 450px;
}

.contact_row {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 70%;
}

.container {
  height: 100%;
}
